templates\sas-bases\overlays\crunchydata\postgres-operator\install\default\selectors.yaml
templates/sas-bases/overlays/crunchydata/postgres-operator/install/default/selectors.yaml
selectors.yaml
# Ignore docs & readmes up to 4 levels deep
README*
*/README*
*/*/README*
*/*/*/README*
*/*/*/*/README*

# Markdown and text files
*.md
*/**.md
*.txt
*/**.txt

# Kustomize-only configs / transformers
templates/*/kustomizeconfig.yaml
templates/*/*/kustomizeconfig.yaml
templates/*/*/*/kustomizeconfig.yaml
templates/*/*/*/*/kustomizeconfig.yaml
templates/*/enable-disable/*
templates/*/*/enable-disable/*
templates/*/*/*/enable-disable/*

# Known Kustomize-specific transformers
templates/sas-bases/overlays/security/container-security/remove-seccomp-transformer.yaml

# Render artifacts
rendered.yaml
*.rendered.yaml
