templates\sas-bases\overlays\crunchydata\postgres-operator\install\default\selectors.yaml
templates/sas-bases/overlays/crunchydata/postgres-operator/install/default/selectors.yaml
selectors.yaml
*.md
*.htm
*.html
*.sh
*.env
*.ini
*.properties
*.jwt
*.css
*.gitignore
*.orig
*.txt.txt
# Ignore Kustomize config files
kustomization.yaml
*/kustomization.yaml


# Ignore README and scripts
*.md
*.sh
*/README.txt