# ----- Docs -----
README*
*.md
*.txt

# ----- Scripts & Local Config -----
*.sh
*.env
*.properties
*.cfg
*.conf
*.ini

# ----- Certificates / Keys -----
*.crt
*.key
*.pem
*.jwt

# ----- JSON / Binary -----
*.json
*.exe
*.dll
*.so
*.dylib
*.tar
*.gz
*.zip
*.tgz
*.7z
*.rar
*.bin
*.img
*.iso
*.db
*.sqlite
*.log

# ----- Kustomize-only configs -----
templates/kustomizeconfig.yaml
templates/enable-disable/*
templates/sas-bases/overlays/security/container-security/remove-seccomp-transformer.yaml
templates/sas-bases/overlays/crunchydata/postgres-operator/install/selectors.yaml
templates/sas-bases/overlays/internal-elasticsearch/params.env

# ----- Render artifacts -----
rendered.yaml
*.rendered.yaml

# ----- OS / Git / Temp -----
.DS_Store
.git
*.bak
*.tmp
*.swp
*.swo
